<div class="container-fluid" >
  <div class="row" >
    <img class="img-responsive team-img" src="images/teambanner.jpg" alt="Team">
  </div>
  <div class="row" >
    <center><h1> Tech Team</h1></center>
  </div>
 </br>
 <div class="row" style="background-color:#000066">
  <div class="col-md-offset-3 col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size: 18px"><center>Piyush Chutani </center></div>
      <div class="panel-body"><img class="img-responsive" src="images/team-1.png" style="height: 250px; width: 300px" alt="Fan movie">
      </div>
      <div class="panel-footer"style="font-size: 18px"><center>Full Stack Developer </center></div>
    </div>
  </div>
  <!-- <div class="col-md-3">
    <div class="panel panel-info">
      <div class="panel-heading" style="font-size: 18px"><center>Prateek Sharma </center></div>
     <center> <div class="panel-body"><img class="img-responsive" src="images/team-1.png" style="height: 250px; width: 300px" alt="Fan movie">
      </div></center>
      <div class="panel-footer"style="font-size: 18px"><center>Graphics Designer </center></div>
    </div>
  </div> -->
 </div>
</div>